.button {
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background: var(--blue-300);
  color: var(--white);
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  transition: filter 0.2s;

  &.outlined {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
