.container {
  background: var(--background);
  height: 100%;
}

.content {
  display: flex;
  height: calc(100vh - 7rem);
  border-radius: 0 0 30px 30px;
  border: 1px solid var(--pink-300);
  border-top: none;

  background: var(--white);
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;

  @media (max-width: 800px) {
    justify-content: center;
  }

  .left {
    margin-left: 4rem;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 4fr;

    span {
      display: flex;
      align-items: flex-end;
      color: var(--separator);
    }

    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 2rem;
      color: var(--pink-300);
    }

    .actions {
      > div {
        margin-bottom: 2rem;
        border-left: 3px solid var(--pink-100);
        padding-left: 0.5rem;

        span {
          display: flex;
          align-items: flex-start;
          color: var(--separator);
          &:first-child {
            margin-bottom: 0.5rem;
          }
        }
      }

      a {
        color: var(--white);
        font-weight: 700;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
      display: none;
    }
  }
}
