.container {
  background: var(--background);
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem);
  border-radius: 0 0 30px 30px;
  border: 1px solid var(--pink-300);
  border-top: none;

  background: var(--white);
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;

  gap: 3rem;

  @media (max-width: 800px) {
    justify-content: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: var(--black);
      font-size: 3rem;
      font-weight: 500;
    }
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    max-width: 800px;

    .contentUserInfo {
      display: flex;
      flex-direction: column;

      @media (max-width: 800px) {
        display: none;
      }

      .titleMain {
        font-weight: 500;
        color: var(--separator);
      }

      .userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

        span {
          margin-left: 0.5rem;
        }
      }

      .titleMain + .userInfo {
        margin-top: 0.5rem;
      }
    }

    .contentUserInfoUpdate {
      display: flex;
      flex-direction: column;
      width: 100%;

      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        padding: 0 2rem;

        .inputBlock {
          display: flex;
          flex-direction: column;

          label {
            color: black;
            margin: 0.5rem 0 0.5rem 0;
            line-height: 1.5rem;
          }

          input {
            color: black;
            border: 1px solid var(--pink-300);
            border-radius: 5px;
            font-size: 1rem;

            padding-left: 12px;
            height: 2.7rem;
            min-width: 250px;
          }

          input::placeholder {
            color: var(--separator);
            font-size: 1rem;
          }

          input:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
          }
        }
      }
    }
  }
}
